name: docs
on:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: Build documentation
        run: |
          python -m pip install --upgrade pip
          python -m pip install .
          python -m pip install --upgrade -r requirements_docs.txt
          cd docs && rm -rf build && make html && cd ..
      - uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/build/html
